.footer {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #3a8bdb;
  color: white;
}

.footer a {
  display: flex;
  align-items: center;
  color: white;
}

.footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}
