<mat-list-item role="listitem" class="list-item">
  <div class="inline">
    <h4>{{ item.formula }}</h4>
    <img
      *ngIf="item.count === '#1'"
      class="list-item__img"
      width="30"
      src="../../../assets/gold-medal.png"
    />
  </div>
  <div class="spacer"></div>
  <p class="inline list-item__percent" title="Porcentaje sobre el total">
    {{ item.percent }}
  </p>
  <p class="inline list-item__count" title="Total de instalaciones">
    {{ item.count }}
    <span class="material-icons"> file_download </span>
  </p>
</mat-list-item>
