.list-item {
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  overflow: hidden;
}

.list-item__img {
  margin-left: 10px;
}

.list-item__percent {
  background-color: transparent;
  height: 100%;
  margin: 0;
  margin-right: 20px;
}

.list-item__count {
  background-color: transparent;
  height: 100%;
  margin: 0;
}
