<div class="toolbar" role="banner">
  <a (click)="recargar()" class="inline toolbar__logo">
    <img width="45" alt="Homebrew Logo" src="../assets/homebrew.png" />
    <h1 class="toolbar__titulo">
      Homebrew <span class="toolbar__titulo--gray">hub</span>
    </h1>
  </a>

  <ng-content select="[medio]"></ng-content>

  <div class="spacer"></div>

  <ng-content select="[enlaces]"></ng-content>

  <a
    rel="noopener"
    aria-label="Repositorio en GitHub"
    target="_blank"
    href="https://github.com/StivenHerreraSierra/Homebrew-hub"
    title="Ir a GitHub"
    class="inline enlace"
  >
    <span>GitHub</span>
    <img alt="Github Icon" src="../assets/github_moderno.png" width="35" />
  </a>
</div>
