<div class="toolbar" role="banner">
  <a routerLink="" class="inline">
    <img width="45" alt="Homebrew Logo" src="../assets/homebrew.png" />
    <h1 class="toolbar__titulo">
      Homebrew <span style="color: #ccc">hub</span>
    </h1>
  </a>

  <ng-content></ng-content>

  <div class="spacer"></div>

  <a
    aria-label="Repositorio en GitHub"
    target="_blank"
    href="https://github.com/StivenHerreraSierra/Homebrew-hub"
    title="Ir a GitHub"
    class="inline"
  >
    <img src="../assets/github_moderno.png" width="50" />
    <span class="a__text">GitHub</span>
  </a>
</div>
