<app-toolbar></app-toolbar>
<div class="container">
  <h2 class="container__title">
    <span class="material-icons"> trending_up </span>
    Analíticas
  </h2>
  <div class="chart">
    <canvas id="chart">{{ chart }}</canvas>
  </div>
  <app-lista-top
    title="Top 10 últimos 30 días"
    [data]="data30d"
  ></app-lista-top>

  <app-lista-top
    title="Top 10 últimos 90 días"
    [data]="data90d"
  ></app-lista-top>

  <app-lista-top
    title="Top 10 últimos 365 días"
    [data]="data365d"
  ></app-lista-top>
</div>
